.column{
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
}
.element-column{
    width: auto;
    min-width: 40px;
    margin-right: 3px;
    /*border: 1px black dashed;  */
}

.bonding-column{
    padding: 5px 0;
}

.element{
    text-align: center;
    font-size: 20px;
    margin: auto;
    height: 30px;
    line-height: 30px;
    text-transform: capitalize;
}
.oh-element{
    margin: auto;
    display: flex;
}
.ho-element{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}
.oh-element > .element, .ho-element > .element{
    width: 30px;
}

#root2{
    display: -webkit-inline-flex;
    display: inline-flex;
}

.bonding{
    margin: auto;
    font-size: 0;
    width: 20px;
    position: relative;
}
._dual-bonding{
    height: 20px;
}

._single-bonding{
    height: 10px;
}
._single-bonding span{
    position: absolute;
    font-size: 20px;
    top: -8px;
}

._dual-bonding ._1st{
    font-size: 20px;
    position: absolute;
    top: -5px;
}

._dual-bonding ._2nd{
    font-size: 20px;
    position: absolute;
    top: 0px;
}